.addCart {
    background   : #e1f5f5ee;
    width        : 80%;
    padding      : 16px;
    border-radius: 5px;
}

.addCart h3 {
    display        : flex;
    justify-content: space-between;
}

ul li {
    list-style     : none;
    width          : 80%;
    display        : flex;
    justify-content: space-between;
    padding        : 8px;
    background     : #e1f5f5ee;
    margin         : 10px 0;
    border-radius  : 5px;
    font-size      : 18px;
}